/*CONFIG. GERAIS*/

*{
    margin:0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family: Arial, sans-serif;
}
h1{
    color: white;
}
header{
    width: 100%;
    background-color: #333;
    padding: 20px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #333;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    float: left;
}
nav a{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color:white

}
.cor{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-top: 10px;
    background: #333;
}
.cor:hover{
    background: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}

p{
    margin-left: 5%;
    margin-right: 5%;
}
#h2sobre{
    margin-left: 5%;
    margin-right: 5%;
}

/*CONFIG. SLIDESHOW*/
#imgbanner{
    width: 500px;
    margin-left: 30%;
}
section{
    background-color: white;
}

.slideshow-container {
    width: 10px;
    height: 10px;
    position: center;
    margin: auto;
}

.mySlides {
    display: none;
}

/*CONFIG. PRODUTOS*/

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 1px;
    text-align: bottom;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

#contato{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 330px;
}

.um{
    font-size: 20px;
}

#dois{
    margin-top: 400px;
}

#tres{
    margin-left: 150px;
}

#mapa{
    text-align: right;
}